body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #f08aca;
}
#users{
  margin: 0;
  padding: 0;
  list-style: none;
}
.user {
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #eee;
  border-radius: 5px;
}
