:root {
  --primary-color: #800000;
  --bg-color: #fbe8e8;
  --text-color: #333333;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}
h1,h2,h3 {
  color: var(--primary-color);
  margin-bottom: 5px;
}
#employees {
  margin : 0;
  padding : 0;
  list-style: none;
}
.employee{
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
